language: elixir
elixir: 1.0.5
otp_release:
  - 18.0
cache: apt
env:
  - EVM_EMACS=emacs-24.3-bin TEST_RUN="rake test"
  - EVM_EMACS=emacs-24.4-bin TEST_RUN="rake test"
  - EVM_EMACS=emacs-24.5-bin TEST_RUN="rake test-no-gui"
before_install:
  - curl -fsSkL https://gist.githubusercontent.com/tonini/09a8bec7a0b2c219e0d7/raw > travis.sh && source ./travis.sh
  - evm install $EVM_EMACS --use --skip
  - cask
install:
  - cask install
script:
  - $TEST_RUN